<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>协作画板</title>
    <link rel="stylesheet" href="css/iconfont.css?t=<?= time()?>">
    <link rel="stylesheet" href="css/style.css?t=<?= time()?>">
</head>
<body>
<canvas id="drawing-board"></canvas>
<div class="color-group">
    <ul>
        <li id="white" class="color-item" style="background-color: white;"></li>
        <li id="black" class="color-item active" style="background-color: black;"></li>
        <li id="red" class="color-item" style="background-color: #FF3333;"></li>
        <li id="blue" class="color-item" style="background-color: #0066FF;"></li>
        <li id="yellow" class="color-item" style="background-color: #FFFF33;"></li>
        <li id="green" class="color-item" style="background-color: #33CC66;"></li>
        <li id="gray" class="color-item" style="background-color: rgb(128,128,128);"></li>
    </ul>
</div>
<div id="range-wrap"><input type="range" id="range" min="1" max="30" value="5" title="调整笔刷粗细"></div>
<div class="tools">
    <button id="brush" class="active" title="画笔"><i class="iconfont icon-huabi"></i></button>
    <button id="eraser" title="橡皮擦"><i class="iconfont icon-xiangpica"></i></button>
    <button id="clear" title="清空"><i class="iconfont icon-clean"></i></button>
    <!--    <button id="undo" title="撤销"><i class="iconfont icon-undo"></i></button>-->
    <button id="save" title="保存"><i class="iconfont icon-save"></i></button>
    <button id="share" title="分享"><i class="iconfont icon-share"></i></button>
</div>
<div class="readyStatus "><i class="iconfont icon-dot"></i> <span>未连接</span></div>
<div class="connect-num">
    <div><?= $roomId?>:当前人数</div>
    <span>0</span>人
</div>
</body>
<script src="js/jquery.min.js?t=<?= time()?>"></script>
<script src="layer/layer.js?t=<?= time()?>"></script>
<script src="js/drawing.js?t=<?= time()?>"></script>
<script src="js/drawsocket.js?t=<?= time()?>"></script>
<script>
    let host = 'ws://' + window.location.host + '/websocket'
    var options = {
            url: host,
            query: {
                group_id: '<?= $roomId?>',
            },
            group_id: '<?= $roomId?>',
            closeCallback: function (res, reason = '') {
                document.querySelector('.readyStatus span').innerHTML = reason || '连接已断开';
                document.querySelector('.readyStatus').className = 'readyStatus disconnected';
                if (websocket.options.currentReconnectTimes >= websocket.options.maxReconnectTimes) {
                    layer.msg("重连失败");
                    return;
                } else if (websocket.options.currentReconnectTimes >= websocket.options.continueReconnectTimes) {

                    /* if (confirm("检测到您多次重连是否静默重连?")) {
                         websocket.reConnect(true);
                     }*/
                    return;
                } else {
                    websocket.reConnect();
                }

            },
            connectedCallback: function (res) {
                document.querySelector('.readyStatus span').innerHTML = '已连接';
                document.querySelector('.readyStatus').className = 'readyStatus connected';
            },
        },
        websocket = new DrawSocket(options),
        drawing = new Drawing(websocket, document.getElementById('drawing-board'), '<?= $roomId?>');
    websocket.setDraw(drawing)
    //设置监听
</script>
</html>
