@font-face {
    font-family: "iconfont"; /* Project id 4296889 */
    src: url('//at.alicdn.com/t/c/font_4296889_m4cz52luxr.woff2?t=1697890786532') format('woff2'),
    url('//at.alicdn.com/t/c/font_4296889_m4cz52luxr.woff?t=1697890786532') format('woff'),
    url('//at.alicdn.com/t/c/font_4296889_m4cz52luxr.ttf?t=1697890786532') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dot:before {
    content: "\e63f";
}

.icon-save:before {
    content: "\e636";
}

.icon-clean:before {
    content: "\eb1a";
}

.icon-huabi:before {
    content: "\e77b";
}

.icon-xiangpica:before {
    content: "\e642";
}

.icon-undo:before {
    content: "\e65b";
}

.icon-share:before {
    content: "\e61e";
}
